<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Automated Cryptography Engine Demo</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<!--<link rel="stylesheet" type="text/css" href="/css/style.css"/>-->
</head>
<body>
    <div id="container">
        {{&doLayout}}
    </div>
    <div id="footer">
        <p>
            <span>Copyright &copy; Joshua Hollander, 2011-
        </p>
    </div>
</body>
</html>