body {
    padding: 0px;
    margin: 0px;
    font-family: Gill, Helvetica, sans-serif;
    font-size: smaller;
}

#container {
    padding: 10px;
    clear: both;
}

#footer {
    padding: 10px;
    width: 60%;
    clear: both;
    font-size: small;
}

#formWrapper {
    float: left;
}

#decryptForm input[type=submit] {
    float: right;
}

#encryptForm input[type=submit] {
    float: right;
}

label {
    font-weight: bold;
}

#decryptionResults {
    table-layout: fixed;
    vertical-align: top;
    width: 100%;
    text-align: left;
    overflow: hidden;
    word-wrap: break-word;
}

#decryptionResults th {
    vertical-align: top;
    width: 10%;
}

#mask {
    position: absolute;
    z-index: 9000;
    background-color: #BBB;
    display: none;
    padding: 0px;
    filter:alpha(opacity=2);
    -moz-opacity: 0.2;
    opacity: 0.2;
    margin: 0px;
}

.popup {
    position:absolute;
    width: 200px;
    height: 200px;
    z-index: 9999;
    padding: 20px;
    display: none;
}

#processingDiv {
    width: 150px;
    height: 50px;
    border: 1px solid #AAA;
    background-color: #FFF;
    text-align: center;
}
